﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <title>chujodupa</title>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="app.js"></script>
    <link href="../styles/style.css" rel="stylesheet" />
</head>
    <body ng-app="AppCtrl" >
        <div class="large-4 small-4 columns" ng-controller="RelatedController">
            <h2>Related content</h2>
            <ul id="related">
                <li ng-repeat="s in related"><a href="{{ s.link }}">{{ s.caption }}</a></li>
            </ul>
        </div>

        <div ng-controller="PlayerController">
            <!--<button ng-click="play()" class="button" ng-show="!playing">Play </button>
                <button ng-click="stop()" class="button allert" ng-show="playing">Stop</button>-->
        
            <!--playing : {{playing}}-->
      {{'jakies gówno' | lowercase| capitalize}}
            <ul id="programs_list" class="">
                <li ng-repeat="program in programs">
                    <span npr-link ng-model="program" player="player"></span>
                </li>
            </ul>
        </div>
    </body>
</html>
